.App {
  text-align: center;
}
body{
  background:url("img3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.movie-card {
  border: none;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(205, 199, 199, 0.5);
  height: 100%;
}

.card-img-container{
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.card-img-container img{
  width: 100%;
  height: 550px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-img-container img:hover{
  transform: scale(1.05);
}
.card-body{
  background-color: #fff;
  text-align: center;
}
.container h2{
  color: #fff;
  font-variant: small-caps;
  text-decoration-line:underline;
  text-decoration-color: red;
  font-family: cursive;
  font-size: 50px;
  font-weight: bold;
}
.card-title{
  font-weight: bold;
}

.card-text{
  font-size: 14px;
  color: #555;
}

